.selected {
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 8px;
    padding: 0px 8px;
}

.sebet {
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 8px;
    padding: 0px 8px;
}
